<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Ciber Farma</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

<body>

	<div class="container w-50 bg-light rounded shadow">
		<h1>Acceso al sistema</h1>
		<form action="/registrar" method="post">
			<div class="mb-3">
				<label for="" class="form-label">Nombre</label>
				<input type="text" name="txtNombre" class="form-control" placeholder="Ingrese su nombre"  required>
			</div>
			<div class="mb-3">
				<label for="" class="form-label">Apellido</label>
				<input type="text" name="txtApellido" class="form-control" placeholder="Ingrese su apellido"  required>
			</div>
			<div class="mb-3">
				<label for="" class="form-label">Usuario</label>
				<input type="email" name="txtUsuario" class="form-control" placeholder="Ingrese su correo"  required>
			</div>
			<div class="mb-3">
				<label for="" class="form-label">Contraseña</label>
				<input type="password" name="txtClave" class="form-control" placeholder="Ingrese su contraseña" required>
			</div>
			<div class="mb-3">
				<label class="form-label">Fecha de Nacimiento</label>
				<input type="date" name="txtNacimiento" class="form-control" placeholder="" required>
			</div>
			<div class="mb-3 form-check">
				<button type="submit" class="btn btn-primary">Registrar</button>
			</div>
			<div class="mb=3">
				<p>Si ya tiene cuenta, ingresé <a href="login">aquí</a></p>
			</div>
			<div role="alert" class="${cssmensaje}" th:text="${mensaje}"></div>
		</form>
	</div>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</html>